---
const { title, activeID } = Astro.props;
import NavBarPageButton from "../components/NavBarPageButton.astro";
import SidebarSocials from "../components/SidebarSocials.astro";
import "@fontsource/poppins/400.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex justify-center">
    <div class="ccontainer bg-white mx-40 my-20 w-full rounded-[30px] flex">
      <nav-bar
        data-active={activeID}
        class="bg-[#F5F5F5] h-full w-1/4 rounded-l-[30px] px-6 py-20 flex flex-col border-r border-gray-200"
      >
        <NavBarPageButton routePath="/" routeName="Home" isActive="true">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.233 3.09651C10.0808 3.05219 9.91916 3.05219 9.76691 3.09651C9.72316 3.10927 9.64616 3.14119 9.48241 3.26516C9.31025 3.39554 9.09941 3.58214 8.77091 3.87415L4.40453 7.75535C3.86924 8.23118 3.71749 8.37469 3.61199 8.53335C3.51051 8.68602 3.4349 8.85435 3.38823 9.0316C3.3397 9.21594 3.33329 9.4246 3.33329 10.1409V14.3084C3.33329 15.0342 3.33396 15.5276 3.36561 15.9088C3.39644 16.28 3.45229 16.4695 3.52094 16.6016C3.67906 16.906 3.92726 17.1543 4.23167 17.3124C4.36381 17.381 4.55331 17.4369 4.9245 17.4677C5.30567 17.4994 5.7991 17.5 6.52495 17.5H6.66662V15C6.66662 13.1591 8.15901 11.6667 10 11.6667C11.8409 11.6667 13.3333 13.1591 13.3333 15V17.5H13.475C14.2008 17.5 14.6942 17.4994 15.0754 17.4677C15.4466 17.4369 15.6361 17.381 15.7682 17.3124C16.0727 17.1543 16.3208 16.906 16.479 16.6016C16.5477 16.4695 16.6035 16.28 16.6343 15.9088C16.6659 15.5276 16.6667 15.0342 16.6667 14.3084V10.1409C16.6667 9.4246 16.6602 9.21594 16.6117 9.0316C16.565 8.85435 16.4894 8.68602 16.3879 8.53335C16.2824 8.37469 16.1307 8.23118 15.5954 7.75535L11.229 3.87415C10.9005 3.58214 10.6897 3.39554 10.5175 3.26516C10.3537 3.14119 10.2767 3.10927 10.233 3.09651ZM9.30091 1.49632C9.7575 1.36337 10.2424 1.36337 10.699 1.49632C11.0157 1.58858 11.2784 1.75081 11.5235 1.93638C11.7543 2.11114 12.0143 2.34222 12.3137 2.60831L16.7027 6.50968C16.7263 6.53068 16.7496 6.55139 16.7727 6.57184C17.2074 6.95786 17.5357 7.24948 17.7759 7.61066C17.9788 7.91599 18.1301 8.25269 18.2234 8.60727C18.3338 9.02669 18.3337 9.46585 18.3333 10.0472C18.3333 10.078 18.3333 10.1092 18.3333 10.1409V14.3434C18.3333 15.0254 18.3333 15.5884 18.2952 16.0468C18.2557 16.5229 18.1708 16.9603 17.958 17.3699C17.6417 17.9788 17.1453 18.4751 16.5366 18.7914C16.1268 19.0042 15.6895 19.0891 15.2133 19.1286C14.755 19.1667 14.1921 19.1667 13.5099 19.1667H13.1708C13.1643 19.1667 13.1578 19.1667 13.1512 19.1667C13.0502 19.1667 12.9297 19.1668 12.8236 19.1579C12.7005 19.1478 12.5243 19.1215 12.3404 19.0259C12.1121 18.9074 11.9259 18.7212 11.8073 18.4929C11.7118 18.3089 11.6856 18.1328 11.6753 18.0097C11.6665 17.9036 11.6666 17.783 11.6666 17.6821L11.6667 15C11.6667 14.0795 10.9204 13.3334 10 13.3334C9.0795 13.3334 8.33329 14.0795 8.33329 15L8.3333 17.6821C8.33333 17.783 8.33341 17.9036 8.32457 18.0097C8.31435 18.1328 8.2881 18.3089 8.19255 18.4929C8.07396 18.7212 7.88781 18.9074 7.65951 19.0259C7.47558 19.1215 7.29941 19.1478 7.17633 19.1579C7.07019 19.1668 6.94965 19.1667 6.84872 19.1667C6.8421 19.1667 6.83556 19.1667 6.82912 19.1667H6.48998C5.80786 19.1667 5.2449 19.1667 4.78656 19.1286C4.31044 19.0891 3.87307 19.0042 3.46337 18.7914C2.85456 18.4751 2.35816 17.9788 2.04191 17.3699C1.8291 16.9603 1.74421 16.5229 1.70466 16.0468C1.66661 15.5884 1.66661 15.0254 1.66662 14.3434V10.1409C1.66662 10.1092 1.66661 10.078 1.6666 10.0472C1.66629 9.46585 1.66606 9.02669 1.7765 8.60727C1.86986 8.25269 2.02106 7.91599 2.22403 7.61066C2.46413 7.24948 2.79254 6.95786 3.22726 6.57185C3.2503 6.55139 3.27362 6.53068 3.29726 6.50968L7.68628 2.60832C7.98561 2.34222 8.24555 2.11114 8.47641 1.93638C8.7215 1.75081 8.98416 1.58858 9.30091 1.49632Z"
              fill="#505050"></path>
          </svg>
        </NavBarPageButton>

        <NavBarPageButton
          routePath="/projects"
          routeName="Projects"
          isActive="false"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.49996 17.5C6.57948 17.5 5.83329 16.7538 5.83329 15.8333V12.7712C5.83329 12.3636 5.83329 12.1597 5.78724 11.9679C5.74642 11.7979 5.67908 11.6353 5.58769 11.4862C5.48463 11.318 5.34048 11.1738 5.05224 10.8856L4.16663 10L5.05224 9.11442C5.34049 8.82617 5.48463 8.682 5.58769 8.51383C5.67908 8.36467 5.74642 8.20212 5.78724 8.03205C5.83329 7.84024 5.83329 7.63642 5.83329 7.22877V4.16667C5.83329 3.24619 6.57948 2.5 7.49996 2.5M12.5 17.5C13.4205 17.5 14.1666 16.7538 14.1666 15.8333V12.7712C14.1666 12.3636 14.1666 12.1597 14.2127 11.9679C14.2535 11.7979 14.3209 11.6353 14.4122 11.4862C14.5153 11.318 14.6595 11.1738 14.9477 10.8856L15.8333 10L14.9477 9.11442C14.6595 8.82617 14.5153 8.682 14.4122 8.51383C14.3209 8.36467 14.2535 8.20212 14.2127 8.03205C14.1666 7.84024 14.1666 7.63642 14.1666 7.22877V4.16667C14.1666 3.24619 13.4205 2.5 12.5 2.5"
              stroke="#505050"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </NavBarPageButton>

        <NavBarPageButton routePath="/blog" routeName="Blog" isActive="false">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.9263 10.5394L17.3577 8.9295C17.8612 7.05029 18.1129 6.11067 17.9233 5.29753C17.7737 4.65548 17.4369 4.07224 16.9558 3.62156C16.3463 3.0508 15.4067 2.79903 13.5275 2.29549C11.6483 1.79195 10.7086 1.54018 9.8955 1.72978C9.25342 1.87948 8.67017 2.21621 8.21951 2.6974C7.73083 3.21915 7.47598 3.98298 7.09676 5.37135C7.03308 5.6045 6.96588 5.85528 6.89348 6.12548L6.46207 7.73553C5.95853 9.61475 5.70676 10.5543 5.89636 11.3675C6.04606 12.0096 6.38279 12.5928 6.86398 13.0435C7.47338 13.6143 8.413 13.866 10.2923 14.3696C11.9861 14.8234 12.9165 15.0728 13.6791 14.9787C13.7626 14.9684 13.844 14.954 13.9243 14.9353C14.5663 14.7856 15.1495 14.4488 15.6002 13.9677C16.1709 13.3583 16.4228 12.4187 16.9263 10.5394Z"
              stroke="#505050"
              stroke-width="1.5"></path>
            <path
              d="M13.6791 14.9784C13.5054 15.5105 13.1999 15.9918 12.7891 16.3766C12.1797 16.9473 11.24 17.1991 9.36087 17.7027C7.48161 18.2062 6.54199 18.4579 5.72884 18.2683C5.0868 18.1187 4.50356 17.7819 4.05288 17.3008C3.48212 16.6913 3.23035 15.7518 2.72681 13.8725L2.29544 12.2626C1.7919 10.3833 1.54013 9.44375 1.72973 8.63059C1.87943 7.98856 2.21617 7.40532 2.69735 6.95464C3.30675 6.38388 4.24637 6.13211 6.1256 5.62857C6.48113 5.5333 6.80302 5.44705 7.0968 5.37109"
              stroke="#505050"
              stroke-width="1.5"></path>
            <path
              d="M9.81409 8.33334L13.8388 9.41176"
              stroke="#505050"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M9.16663 10.7479L11.5815 11.3949"
              stroke="#505050"
              stroke-width="1.5"
              stroke-linecap="round"></path>
          </svg>
        </NavBarPageButton>

        <div class="my-5"></div>

        <SidebarSocials />
      </nav-bar>

      <div class="w-full rounded-r-[30px] px-40 py-14">
        <slot />
      </div>
    </div>
    <div class="absolute top-6 bg-red-500 text-white px-4 py-2 rounded-lg">
      Responsive not yet ready, please use desktop version
    </div>
  </body>
</html>

<style is:global>
  body {
    background-image: url("../images/bg.jpg");
  }
  .ccontainer {
    height: calc(100vh - 10rem);
  }
</style>

<script>
  const navButtons = document.getElementsByClassName("nav-bar-page-button");

  class NavBar extends HTMLElement {
    constructor() {
      super();

      const activeID = this.dataset.active;
      navButtons[activeID].classList.add("bg-white", "rounded-lg", "shadow-sm");
    }
  }

  customElements.define("nav-bar", NavBar);
</script>
